package domain

const (
	PermissionView       = "cms.view"
	PermissionCreate     = "cms.create"
	PermissionEdit       = "cms.edit"
	PermissionPublish    = "cms.publish"
	PermissionTaxonomies = "cms.taxonomies.manage"
)
