-- +goose Up
CREATE TABLE role_permissions (role_id binary(16) NOT NULL, permission_id binary(16) NOT NULL, PRIMARY KEY (role_id, permission_id), FOREIGN KEY (role_id) REFERENCES roles(id), FOREIGN KEY (permission_id) REFERENCES permissions(id));
-- +goose Down
DROP TABLE role_permissions;
