-- +goose Up
CREATE TABLE memberships(organization_id uuid NOT NULL REFERENCES organizations(id),user_id uuid NOT NULL REFERENCES users(id),PRIMARY KEY(organization_id,user_id));
-- +goose Down
DROP TABLE memberships;
