module {{.Module}}/backend

go 1.25

require (
	github.com/danielgtaylor/huma/v2 v2.34.1
	github.com/labstack/echo/v4 v4.13.4
	github.com/pressly/goose/v3 v3.24.3
	go.uber.org/zap v1.27.0
	{{if eq .Database "postgres"}}github.com/jackc/pgx/v5 v5.7.5{{else}}github.com/go-sql-driver/mysql v1.9.1{{end}}
)

